.cabeceras{
    border-left:6px solid transparent !important;
    width:12.5%;
    text-align: center;
    border:1px solid transparent;

}
.hora_reserva{
  width: 11%;
  height:50px;
  border-left: 6px solid rgb(0, 0, 0) !important;
  border:1px solid;
  cursor:pointer;

}

.hora_reserva:hover{
  background-color: #99CBFF;
  transition: transform .2s;
 /* width: 13%;
  height:60px;*/
  border: 1px solid #99CBFF;
  border-left: 6px solid #2a80e2 !important;


}
.hora{
  width: 12%;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

.sticky {
  position: fixed;
  top: 0;
  background-color:red;
}
