<div fxLayout="column" fxLayoutGap="2px" style="padding-top:30px; padding-left:12%" id="header">
    <div fxLayout="row">
        <div *ngFor = "let day of days" class ="cabeceras">{{day}}</div>
    </div>
    <div fxLayout="row">
        <div *ngFor = "let sem of semana" class ="cabeceras">{{sem}}</div>
    </div>
</div>
<div fxLayout="column" style="padding-top:2%;">
    <div *ngFor = "let hora of horas;" fxLayout ="row">
      <div class="hora">{{hora}}</div>
      <div *ngFor="let sem of semana; let i = index" class="hora_reserva"
          #horareserva_{{semana[i]}}_{{hora[0]+hora[1]+hora[8]+hora[9]}}}></div>
    </div>
</div>
