.cabeceras{
    border-left:0.6vw solid transparent !important;
    width:12.5%;
    text-align: center;
    border:0.1vw solid transparent;
}
.boton{
  margin-top: 3px !important;
  margin-left: 3px !important;
  background-color:#ffffff;
}
.leyenda{
  width:3vw;
  height: 3vw;
  margin-top: 6px;
  display: inline-block;
  margin-left: 2%;
}

.hora{
  /*width: 12%;*/
  width: 11vw;
  text-align: center;
  vertical-align: middle;
  line-height: 5.5vw;
  margin-right: 0.5vw;
}

.hora_reserva{
  width: 11%;
  height:5.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hora_reserva_libre:hover{
  background-color: #99CBFF;
  border: 0.1vw solid #99CBFF;
  border-left: 6px solid #2a80e2;

  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}

.hora_reserva_libre{
  border-left: 0.6vw solid rgb(0, 0, 0);
  border-bottom:0.1vw solid;
  border-right:0.1vw solid;
  border-top:0.1vw solid;
  background-color: #99CBFF;
  cursor: pointer;
}

.hora_reserva_privado{
  background-color:#ff9b9b;
  border-left:0.6vw solid #d50d06;
  border-bottom: 0.1vw solid #d50d06;
  border-top:0.1vw solid #d50d06;
  border-right:0.1vw solid #d50d06;
  cursor:not-allowed;
}

.hora_reserva_pasado{
  border-left: 0.6vw solid #c9c9c9;
  border-bottom:0.1vw solid #c9c9c9;
  border-right:0.1vw solid #c9c9c9;
  border-top:0.1vw solid #c9c9c9;

}

.hora_reserva_publico{
  background-color:#9ffa7b;
  border-left: 0.6vw solid #39be04;
  border-bottom: 0.1vw solid #9ffa7b;
  border-top: 0.1vw solid #9ffa7b;
  border-right: 0.1vw solid #9ffa7b;
  cursor: pointer;
}

.hora_reserva_publico:hover .parrafo-publico{
  display:none;
}

.hora_reserva_publico:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}


@media screen and (min-width: 800px){
.parrafo-publico{
  font-size:1.2vw;
  margin-left: 5px;
}
}
@media screen and (max-width: 800px){
  .parrafo-publico{
    display:none;
  }
}


@media screen and (min-width: 1000px){
  .butto{
    margin-left: 40vw;
  }
}
  @media screen and (max-width: 1000px){
    .butto{
      margin-left: 80%;
    }
  }

