<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Futhoun</title>
</head>
<body>
    <div fxLayout="column" fxLayoutAlign="center center">
        <div  fxFlexAlign="center">
            <img src="assets/img/Logo.png" class="puff-in-center" id="logo"/>
        </div>

        <mat-card class ="login">
            <mat-card-title>Login</mat-card-title>
            <mat-card-content>
                <form #loginForm="ngForm" (ngSubmit)="onSubmit()" >
                    <p>
                        <mat-form-field class="example-full-width">
                            <input matInput type="email"  placeholder="Email" #email="ngModel"
                             [(ngModel)]="user.email" name="email" required>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field class="example-full-width">
                        <input matInput type="password" placeholder="Password" name="password" #password="ngModel"
                            [(ngModel)]="user.password" name="password" required/>
                        </mat-form-field>
                    </p>
                    <div fxLayout="row" fxLayoutAlign="space-between">
                        <button mat-raised-button color="accent" type="submit" style="position:left">Iniciar sesion</button>
                        <button mat-button color="warn" type="submit">¿No tienes cuenta? Regístrate</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
   </div>

</body>
</html>
