
#logo{
  width: 15em;
}
/*
.login{
  height:280px;
  width:400px;
  background-color:	#F3F5F4;
}

.register{
  height:400px;
  width:400px;
  background-color:	#F3F5F4;
}
*/
.titulo{
  text-align: center;
}

.example-full-width {
  width: 100%;
  height:60px;
  font-size:16px;
}

.alert-danger {
  background-color: #f44336; /* Red */
}
.alert-success {
  background-color: #36f456;
}
.alert{
  padding: 20px;
  color: white;
  margin-bottom: 15px;
  text-align: center;
}

img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }


.barra {
  position: fixed;
  left: 0;
  top:0;
  right:0;
  z-index: 998;
  width: 100% !important;
  min-height:64px !important;
}

.toolbar-title {
  margin: 0 16px 0 16px;
}

.contenido{
  height:100%;
}


.mat-sidenav{
  position:fixed;
  height:100%;

  width: 200px;
  /*width:60px;
  margin-top:64.4px;*/

}
.app{
  height:100%;
  display: flex;
}

.header{
  height:60px;
  /*background-color: #627999;*/
  /*border-bottom: 3px solid #23776e*/
  /*background-color:#F2ECFF;*/
  background-color: #143642;
}

.info_user{
  /*color:#ced4d7;*/
  color:white;
  margin-right: 2%;
}
.nombre-user{
  font-size: 14px
}
.email-user{
  font-style: oblique;
  font-size: 11px;
}

.sidenav-app{
  /*background-color:#05B382 #3ab4a6;*/
  /*background-color: #3f4a59;*/
 /* background-color: rgb(48, 63, 159); mismo toolbar*/
 background-color: #143642;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  z-index:998;
}
.mat-list-item{
  color: white;
  font-size: 13px;
  font-weight: 500;
}
.active-list-item{
  /*background-color:#66E89B!important; verde */
  background-color: #0F8B8D !important;
  color: #FFF;
}
.icon{
  font-size: 14px;
  padding-right: 6px;
  padding-top: 3px;
}
.icon-selected{
  font-size: 25px;
}
.menu-sidenav{
  padding-top: 0px !important;
}
:host /deep/ .mat-list-item-content {
  padding-left: 10px !important;
}

.menu-category {
    position: relative;
    font-family: Roboto,sans-serif;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.6875rem;
    font-weight: 500;
    line-height: 32px;
    padding: 1px 20px 1px;
    color: #fff;
    opacity: 0.7;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.menu-category::after {
  content: '';
  width: 100%;
  height: 0;
  border-top: 1px dashed #fff;
  vertical-align: middle;
  margin-left: 1rem;
  opacity: 0.3;
  position: absolute;
  top: 50%;
}
.fin{
  background-color:#68ff70;
}
.registrate{
  background-color: #69F0AE;
}

