<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>FutJoin</title>
</head>
<body>

  <div *ngIf="identity" class="logueado" [@fadeInOut] >

  </div>

    <div fxLayout="column" fxLayoutAlign="center center" *ngIf="!identity" [@fadeInOut]>
        <img class=bg src="../assets/img/syOPVz8.jpg">
        <div  fxFlexAlign="center">
            <img src="assets/img/Logo.png" class="puff-in-center" id="logo"/>
        </div>

        <mat-card class ="login">
            <mat-card-title class="titulo">Login</mat-card-title>
            <mat-card-content>
                <form name="form" #loginForm="ngForm" (ngSubmit)="loginForm.form.valid && onSubmit()" >

                    <div class="form-group">

                        <mat-form-field [hideRequiredMarker]=true class="example-full-width">
                              <input type="text" class="form-control" name="email" matInput placeholder="Email"
                              [(ngModel)]="user.email" #email="ngModel" [ngClass]="{ 'is-invalid': loginForm.submitted && email.invalid }" required email />
                              <mat-error *ngIf="loginForm.submitted && email.invalid">
                                  <mat-error *ngIf="email.errors['required']">Email is required</mat-error>
                                  <mat-error *ngIf="email.errors['email']">Email must be a valid email address</mat-error>
                              </mat-error>
                        </mat-form-field>

                    </div>
                    <br/>
                    <div class="form-group">
                        <mat-form-field class="example-full-width" [hideRequiredMarker]=true>
                          <input type="password" name="password" class="form-control" matInput placeholder="Password"
                            [(ngModel)]="user.password" #password="ngModel" [ngClass]="{ 'is-invalid': loginForm.submitted && password.invalid }" required />
                          <mat-error *ngIf="loginForm.submitted && password.invalid">
                              <mat-error *ngIf="password.errors['required']">Password is required</mat-error>
                          </mat-error>
                        </mat-form-field>
                    </div>
                  <br/><br/>
                    <div fxLayout="row" fxLayoutAlign="space-between">
                        <button mat-raised-button color="accent" type="submit" style="position:left">Iniciar sesion</button>
                        <a mat-button color="primary" routerLink=".">¿No tienes cuenta? Regístrate</a>
                    </div>
                    <a class="olvidar" mat-button routerLink=".">¿Olvidaste tu contraseña?</a>

                </form>
            </mat-card-content>
        </mat-card>
   </div>
</body>
</html>
