<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>FutJoin</title>
</head>
<body>

  <div *ngIf="identity" [@fadeInOut] >
        <img class=bg src="../assets/img/gris.png">
        <router-outlet></router-outlet>

        <div fxLayout="column">
          <mat-toolbar color="primary" class="barra">
            <mat-toolbar-row>
              <button mat-icon-button><mat-icon>menu</mat-icon></button><img src = "../assets/img/Logo barra.png" style="width:50px;height:50px"><img src = "../assets/img/Palabra barra.png" style="width:100px;height:25px">
              <div fxFlex fxLayout fxLayoutAlign="start">
                <div fxLayout fxLayoutGap="20px">
                  <div></div><div></div><div></div><div></div><div></div><div></div>
                  <div>
                    <a href="#" mat-button><mat-icon>home</mat-icon >Inicio</a>
                  </div>
                  <div>
                    <button mat-button><mat-icon>filter_tilt_shift</mat-icon> Mis partidos.</button>
                  </div>
                  <div>
                    <button mat-button><mat-icon>help</mat-icon> FAQ</button>
                  </div>
                </div>
              </div>
              <div fxFlex fxLayout fxLayoutAlign="end">
                <div fxLayout fxLayoutGap="40px">
                  <div>
                    <a [routerLink]="['mis-datos']" mat-button><mat-icon>account_circle</mat-icon> Mi perfil</a>
                  </div>
                  <div>
                    <a [routerLink]="['']" mat-raised-button color="warn" (click)="logout()"><mat-icon>logout</mat-icon>Logout</a>
                  </div>
                </div>
              </div>
            </mat-toolbar-row>
          </mat-toolbar>
        </div>
  </div>

    <div *ngIf="!identity" fxLayout="column" fxLayoutAlign="center center"  [@fadeInOut]>
        <img class=bg src="../assets/img/syOPVz8.jpg">
        <div  fxFlexAlign="center">
            <img src="assets/img/Logo.png" class="puff-in-center" id="logo"/>
        </div>
        <mat-card  [@changeDivSize] = estado>

            <mat-card-title *ngIf="estado=='login'" class="titulo">Login</mat-card-title>
            <mat-card-title *ngIf="estado=='register'" class="titulo">Registro de usuario</mat-card-title>


            <mat-card-content *ngIf="estado=='login'">
                <form name="form" #loginForm="ngForm" (ngSubmit)="loginForm.form.valid && onSubmit()" >
                    <div class="form-group">
                        <mat-form-field [hideRequiredMarker]=true class="example-full-width">
                              <input type="text" class="form-control" name="email" matInput placeholder="Email"
                              [(ngModel)]="user.email" #email="ngModel" [ngClass]="{ 'is-invalid': loginForm.submitted && email.invalid }" required email />
                              <mat-error *ngIf="loginForm.submitted && email.invalid && (email.dirty || email.touched)">
                                  <mat-error *ngIf="email.errors['required']">El email es obligatorio.</mat-error>
                                  <mat-error *ngIf="email.errors['email']">Por favor, introduce un email válido.</mat-error>
                              </mat-error>
                        </mat-form-field>
                    </div>
                    <br/>
                    <div class="form-group">
                        <mat-form-field class="example-full-width" [hideRequiredMarker]=true>
                          <input type="password" name="password" class="form-control" matInput placeholder="Contraseña"
                            [(ngModel)]="user.password" #password="ngModel" [ngClass]="{ 'is-invalid': loginForm.submitted && password.invalid }" required />
                          <mat-error *ngIf="loginForm.submitted && password.invalid && (password.dirty || password.touched)">
                              <mat-error *ngIf="password.errors['required']">La contraseña es obligatoria.</mat-error>
                          </mat-error>
                        </mat-form-field>
                    </div>
                  <br/><br/>
                    <div fxLayout="row" fxLayoutAlign="space-between">
                        <button mat-raised-button color="accent" type="submit" style="position:left">Iniciar sesion</button>
                        <a mat-button color="primary" (click) = "estado='register'">¿No tienes cuenta? Regístrate</a>
                    </div>
                    <a class="olvidar" mat-button>¿Olvidaste tu contraseña?</a>
                </form>
            </mat-card-content>



            <mat-card-content *ngIf="estado=='register'">
                <form name="formOblReg" #registerObligatoryForm="ngForm" (ngSubmit)="registerObligatoryForm.form.valid && onRegisterSubmit()"  [mustMatch]="['password', 'confirmPassword']" (keydown.enter)="$event.preventDefault()">
                    <mat-horizontal-stepper #stepper [linear]="isLinear">
                        <mat-step [completed] = "!(email.invalid || password.invalid || confirmPassword.invalid)">
                            <ng-template matStepLabel>Introduce Datos de la cuenta.</ng-template>

                            <div fxLayout="row" fxLayoutAlign="space-evenly">
                                <div class="form-group">
                                    <mat-form-field>
                                        <input type="text" name="email" matInput placeholder="Email" class="form-control"
                                            [(ngModel)]="userRegister.email" #email="ngModel" required email />
                                        <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
                                            <mat-error *ngIf="email.errors['required']">El email es obligatorio.</mat-error>
                                            <mat-error *ngIf="email.errors['email']">Por favor, introduce un email válido.</mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="form-group">
                                    <mat-form-field>
                                        <input type="password" name="password" matInput placeholder="Contraseña" class="form-control"
                                                [(ngModel)]="userRegister.password" #password="ngModel" required pattern="^(?=.*[0-9]+.*)(?=.*[a-zA-Z]+.*)[0-9a-zA-Z]{6,}$"/>
                                        <mat-error *ngIf="password.invalid && (password.dirty || password.touched)" >
                                            <mat-error *ngIf="password.errors['required']">Introduzca la contraseña.</mat-error>
                                            <mat-error *ngIf="password.errors['pattern']"> La contraseña debe contener por lo menos un numero y tener más de 8 carácteres. </mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <br/><br/>

                            <div fxLayout="row" fxLayoutAlign="space-evenly">

                                <div class="form-group">
                                    <mat-form-field>
                                        <input type="text" name="nombre" matInput placeholder="Nombre Completo" class="form-control"
                                                    [(ngModel)]="userRegister.nombre" #nombre="ngModel" required>
                                            <mat-error *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" >
                                                <mat-error *ngIf="nombre.errors['required']">Introduzca su nombre completo.</mat-error>
                                            </mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="form-group">
                                    <mat-form-field>
                                        <input type="password" name="confirmPassword" matInput placeholder="Confirma la contraseña" class="form-control"
                                                        [(ngModel)]="userRegister.confirmPassword" #confirmPassword="ngModel" required>
                                                <mat-error *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" >
                                                    <mat-error *ngIf="confirmPassword.errors['required']">Introduzca la contraseña.</mat-error>
                                                    <mat-error *ngIf="confirmPassword.errors['mustMatch']">Las contraseñas no coinciden.</mat-error>
                                                </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <br/>
                            <div fxLayout="row" fxLayoutAlign="space-evenly">
                                <button type="button" mat-raised-button color="warn" (click) = "estado='login'">Back <mat-icon>cancel</mat-icon></button>
                                <button  type="button" ng-Model="next" [disabled]="email.invalid || password.invalid || confirmPassword.invalid"
                                        mat-raised-button color="primary" matStepperNext>Next <mat-icon>arrow_forward</mat-icon></button>
                            </div>
                        </mat-step>


                        <mat-step>
                            <ng-template matStepLabel>Introduce los datos futbolísticos.</ng-template>
                            <div fxLayout="row" fxLayoutAlign="space-evenly">
                                <div class="form-group">
                                    <mat-form-field>
                                        <mat-label>Pie bueno</mat-label>
                                        <mat-select class="form-control" [(ngModel)]="userRegister.piebueno"
                                                    placeholder="Seleccione su pierna buena" name="piebueno">
                                            <mat-option value="Derecho">Derecho</mat-option>
                                            <mat-option value="Izquierdo">Izquierdo</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="form-group">
                                    <mat-form-field>
                                        <mat-label>Posicion</mat-label>
                                        <mat-select name="posicion" lass="form-control" [(ngModel)]="userRegister.posicion" #posicion="ngModel">
                                            <mat-option value="Delantero">Delantero</mat-option>
                                            <mat-option value="Centrocampista">Centrocampista</mat-option>
                                            <mat-option value="Defensa">Defensa</mat-option>
                                            <mat-option value="Portero">Portero</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="space-evenly">
                                <div class="form-group">
                                    <mat-form-field>
                                        <input type="number" name="altura" matInput placeholder="Introduzca su altura en cm." class="form-control"
                                        [(ngModel)]="userRegister.altura" #altura="ngModel" min="100" max="250">
                                    </mat-form-field>
                                </div>

                            </div>

                            <div fxLayout="row" fxLayoutAlign="space-evenly">
                                    <button type="button" mat-raised-button color="warn" matStepperPrevious>Back <mat-icon>cancel</mat-icon></button>
                                    <button type="button" ng-Model="next"mat-raised-button color="primary" matStepperNext>Next <mat-icon>arrow_forward</mat-icon></button>
                            </div>
                        </mat-step>

                        <mat-step>
                            <ng-template matStepLabel>Introduce otros datos relevantes.</ng-template>
                            <div fxLayout="row" fxLayoutAlign="space-evenly">
                                <div class="form-group">
                                    <mat-form-field>
                                        <mat-label>Fecha de nacimiento (m/d/yyyy)</mat-label>
                                        <input matInput [matDatepicker]="fechaNac" name ="fecha" [(ngModel)]="userRegister.fecha" #fecha="ngModel" [min]="minDate" [max]="maxDate" >
                                        <mat-datepicker-toggle matSuffix [for]="fechaNac"></mat-datepicker-toggle>
                                        <mat-datepicker #fechaNac></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="form-group">
                                    <mat-form-field>
                                        <mat-label>Telefono</mat-label>
                                        <input type="tel" name="telefono" matInput placeholder="Introduzca su numero de telefono" class="form-control"
                                        [(ngModel)]="userRegister.telefono" #telefono="ngModel" pattern="[0-9]{9}">
                                        <mat-error *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)" >
                                            <mat-error *ngIf="telefono.errors['pattern']">Introduzca un numeoro de telefono válido</mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="space-evenly">
                                <div class="form-group">
                                    <mat-form-field>
                                        <mat-label>Código postal</mat-label>
                                        <input type="text" name="codigoPostal" matInput placeholder="Introduzca su código postal" class="form-control"
                                        [(ngModel)]="userRegister.codigoPostal" #codigoPostal="ngModel" pattern="[0-9]{5}">
                                        <mat-error *ngIf="codigoPostal.invalid && (codigoPostal.dirty || codigoPostal.touched)" >
                                            <mat-error *ngIf="codigoPostal.errors['pattern']">Introduzca un CP válido</mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div fxLayout="row" fxLayoutAlign="space-evenly">
                                    <button type="button" mat-raised-button color="warn" matStepperPrevious>Back <mat-icon>cancel</mat-icon></button>
                                    <button  type="submit" mat-raised-button color="accent">Finalizar <mat-icon>check</mat-icon></button>
                                    <input id ="fileToUpload" type="file" style="display:none;">
                            </div>
                        </mat-step>


                    </mat-horizontal-stepper>
                </form>
            </mat-card-content>


        </mat-card>

   </div>

</body>
</html>
