

.slide-img {
  width: 70%;
  height: 280px;
}

.example-card {
  max-width: 800px;
  max-height:600px;
  border-bottom: 5px solid grey;
}


.rosa{
  background-color: pink;
}

.datos{
  font-family: system-ui;
  font-size:16px;
}
