
<ngx-carousel-3d  [slides]="complejos" [options]="options"  #carousel style="margin-top:23%">
    <ngx-carousel-3d-slide class ="pointer"  *ngFor="let complejo of complejos; let i = index;" (click)="carousel.goSlide(i)">
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>{{complejo.propietario.nombre}}</mat-card-title>
              <mat-card-subtitle>{{complejo.direccion}},  {{complejo.propietario.codigoPostal}}</mat-card-subtitle>
            </mat-card-header>
              <img mat-card-image class="slide-img" src="{{url + 'get-image-user/' + complejo.propietario.image}}" style="margin-left: 15%;">
            <mat-card-content>

                <mat-divider></mat-divider>

                  <div fxLayout="row" fxLayoutAlign="space-evenly">
                    <div class ="datos"><b>Correo:</b> {{complejo.propietario.email}}</div>
                    <div class ="datos"><b>Telefono:</b> {{complejo.propietario.telefono }}</div>
                  </div>

                <mat-divider></mat-divider>

            </mat-card-content>
            <mat-card-actions>
              <div fxLayout="row" fxLayoutAlign="space-evenly">
                <button mat-raised-button [routerLink]="['campos',complejo._id,1 ]" style="background-color:#f19203">Futbol 7</button>
                <button mat-raised-button [routerLink]="['campos',complejo._id,2 ]" style="background-color:#58ee12">Futbol 11</button>
                <button mat-raised-button [routerLink]="['campos',complejo._id,3 ]" style="background-color:#318ED3">Futbol Sala</button>
            </div>
            </mat-card-actions>
          </mat-card>
    </ngx-carousel-3d-slide>
</ngx-carousel-3d>






