

.slide-img {
  width: 70%;
  height: 280px;
  margin-left:20%;
}

.example-card {
  max-width: 800px;
  max-height:600px;
  border-bottom: 5px solid grey;
}

.pointer{
  cursor:pointer !important;
}

.rosa{
  background-color: pink;
}


