<h1 style="margin-left:10px;padding-top:10px">Bienvenido, {{identity.nombre}}</h1>
<h3 style="margin-left:10px">Noticias <mat-icon [inline]="true" style="font-size:30px;">assignment</mat-icon></h3>
<div *ngFor="let noticia of noticias; let i=index">
  <mat-card>
    <mat-card-header>
      <mat-card-title *ngIf="noticia.tipo==1">Complejo Deportivo 	<mat-icon [inline]="true">fitness_center</mat-icon></mat-card-title>
      <mat-card-title *ngIf="noticia.tipo==2">Campo <mat-icon [inline]="true">place</mat-icon></mat-card-title>
      <mat-card-subtitle>{{noticia.fecha.substring(0,10)}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{noticia.mensaje}}</p>
    </mat-card-content>
  </mat-card>
  <mat-divider></mat-divider>
</div>
